<div class="container">
  <div id="content-box">

    <h2 class="page-title">Dashboard</h2>

    <ul>
      <li><%= link_to "Cadastrar Vaga", new_job_path %></li>
      <li><%= link_to "Vagas", jobs_path %>
    </ul>

  </div>
</div>