<div class="container">
  <main>
    <section class=landing-page>
      <h1>Encontre o emprego dos seus sonhos aqui</h1>
      <p>
        São milhares de empregos nas maiores empresas do país. Aqui, Headhunters
        encontram os melhores profissionais do mercado.
      </p>
      <div class="buttons">
        <button>Quero trabalhar</button>
        <button>Quero contratar</button>
      </div>
      <div class="main-image">
        <%= image_tag ("main-image.svg"), class: "responsive" %>
      </div>
    </section>
  <main>
</div>