@import "./variables.css";

/* nav {
  width: 100%;
  background-color: cornflowerblue;
} */

#navbar {
  /* overflow: hidden; */
  width: 100%;
  margin: auto;
  background-color: #fff;
  padding: 20px 10px;
  font-size: 2rem;
  margin-bottom: 3rem;
  border-bottom: 1px solid #ccc;
}

#navbar a {
  float: left;
  color: var(--color-bluedark1);
  text-align: center;
  padding: 12px;
  text-decoration: none;
  border-radius: 4px;
}

#navbar a.logo {
  font-weight: bold;
}

#navbar a:hover {
  background-color: var(--color-bluehover);
  color: var(--color-white);
}

#navbar a.active {
  background-color: dodgerblue;
  color: white;
}

#navbar-right {
  float: right;
}

@media screen and (max-width: 500px) {
  #navbar a {
    float: none;
    display: block;
    text-align: left;
  }
  #navbar-right {
    float: none;
  }
}
