#box-login {
  background-color: #f1f1f1;
  border-radius: 7px;
  color: rgb(71, 68, 68);
  width: 300px;
  margin: auto;
  padding: 15px;
  box-shadow: 0 5px 5px -3px black;
}

#register {
  line-height: 6rem;
}

#avatar {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
  margin-bottom: 1rem;
}

.forms {
  display: flex;
  flex-direction: column;
}

.forms .input {
  font-size: 1.5rem;
  padding: .7rem;
  width: 100%;
  border-radius: 5px;
  border: 1px solid #ccc;
  outline-color: aqua;
  margin-bottom: .7rem;
}

/* SELECT ROLE FOR REGISTRATION */
.select-role {
  display: flex;
  flex-direction: column;
  font-size: 1.7rem;
  padding: .7rem;
  margin-bottom: .7rem;
}

.select-role select {
  font-size: 1.5rem;
  padding: .7rem;
  border-radius: 5px;
  border: 1px solid #ccc;
  outline-color: aqua;
}

#button {
  font-size: 2rem;
  font-weight: bold;
  width: 100%;
  height: 4rem;
  background-color: #191947;
  color: #fff;
  border-radius: 5px;
  border: none;
  outline: none;
  transition: background 200ms;
  opacity: 1;
}

#button:hover {
  opacity: .8;
}

.links {
  display: flex;
  flex-direction: column;
  font-size: 2rem;
  margin-top: 1rem;
}

.links a {
  text-decoration: none;
}


