:root {
  --color-black: #000;
  --color-white: #fff;
  --color-bluedark1:#14003A;
  --color-bluedark2:#000454;
  --color-bluedark3:#090047;
  --color-bluedark4:#001A60;
  --color-blue:#02356C;
  --color-bluehover:#226281;
  --color- :#448A96;
  --color- :#66AAA7;
  --color- :#88BEB1;
  --color- :#AAD1C0;
  --color-bluelight :#CCE4D5;
}