<footer class="footer-distributed">

	<div class="footer-right">
		<a href="https://api.whatsapp.com/send?phone=5511992722723&text=Olá!%20Podemos%20conversar%20sobre%20projetos?" target="_blank">
			<i class="fa fa-whatsapp"></i>
		</a>
		<a href="https://twitter.com/r7cleyton" target="_blank">
			<i class="fa fa-twitter"></i>
		</a>
		<a href="https://www.linkedin.com/in/cleytonrsilva/" target="_blank">
			<i class="fa fa-linkedin"></i>
		</a>
		<a href="https://github.com/rcleyton" target="_blank">
			<i class="fa fa-github"></i>
		</a>
	</div>

	<div class="footer-left">
		<p class="footer-links">
			<a class="link-1" href="#">Home</a>
			<a href="#">Blog</a>
			<a href="#">Sobre</a>
			<a href="#">Faq</a>
			<a href="#">Contato</a>
		</p>
		<p>Headhunter &copy; 2021</p>
	</div>

</footer>